.wrap {
  width: 600px; margin: auto;
  dl {
    dt {
        width: 100%; position: relative;
        line-height: 45px; background: #999;
        text-indent: 20px;
        border: 1px solid #dcdcdc;
        cursor: pointer;
        &.on {
          background: pink;
      }
    }
    dd {
        display: block;
        width: 100%; overflow: hidden;
        transition: 0.4s;
        height: 0;
      h3 {
        font-size: 20px;
        padding: 15px;
      }
      p {
        font-size: 18px;
        padding: 15px;
      }
      &.on {
          display: block;
          height: 100px;
          background: beige;
      }
    }
  }
}